<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>

</head>
<body>
<h2>Create form</h2>
<form method="post" th:object="${product}">
    <label for="nameP">Name of product: </label>
    <input th:field="*{name}" type="text" name="nameP" id="nameP" placeholder="enter name">
    <br>
    <br>
    <label for="priceP">Price of product: </label>
    <input th:field="*{price}" type="number" name="priceP" id="priceP" placeholder="enter price">
    <br>
    <br>
    <label for="cateP">Category of product</label>
    <select name="cateP" id="cateP" th:field="*{category}">
        <th:block th:each="cate:${categorylist}">
            <option th:value="${cate.id}" th:text="${cate.name}"></option>
        </th:block>
    </select>
    <input type="submit" value="Create">
    <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
</form>
</body>
</html>