<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List product</title>
</head>
<body>

<table border="1" cellspacing="0" cellpadding="10">
    <tr>
        <th>Name Product</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    <th:block th:each="p:${list}">
        <tr>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
            <td>
                <a th:href="@{'/products/edit/'+${p.id}}">Edit</a>
                <a th:href="@{'/products/delete/'+${p.id}}" onclick="return confirm('Are you sure to delete this product ?')">Delete</a>
            </td>
        </tr>
    </th:block>
</table>

<h3><a th:href="@{'/products/create'}">Create </a></h3>



</body>
</html>