<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        body {
            margin-top: 30px;
        }

        form {
            margin-left: 300px;
            width: 600px;
            height: 300px;
        }
    </style>
</head>
<body>
<a type="button" class="btn btn-info" href="/products">Back to List Product</a>
<form th:object="${product}" method="post">
    <div class="mb-3">
        <label for="edit_name" class="form-label">Name product</label>
        <input type="text" class="form-control" id="edit_name" name="edit_name" th:field="${product.name}">
    </div>
    <div class="mb-3">
        <label for="edit_price" class="form-label">Price product</label>
        <input type="number" class="form-control" id="edit_price" name="edit_price" th:field="${product.price}">
    </div>
    <div class="mb-3">
        <label for="edit_cate" class="form-label">Category product</label>
        <select name="edit_cate" id="edit_cate" th:field="*{category}">
            <th:block th:each="cate:${categorylist}">
                <option th:value="${cate.id}" th:text="${cate.name}"></option>
            </th:block>
        </select>
    </div>
    <input class="btn btn-primary" type="submit" value="Edit">
</form>

</body>
</html>